.buscador-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sugerencias-container {
    position: relative;
  }
  
  .sugerencia-item {
    padding: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .sugerencia-item:hover {
    background-color: #e9e9e9;
  }